* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Sans', sans-serif;
}

header {
    background-image: linear-gradient(to bottom left, #DD0000 60%, #000099);
    width: 99.5%;
    margin: 0.1% auto;
    padding: 1% 0;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > img {
    display: block;
    width: 30%;
}

header > h1 {
    font-size: 2rem;
    font-family: "Ubuntu Sans",
            sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px #FFFFFF, 
            -1px -1px 1px #FFFFFF,
            3px 3px 5px yellow,
            -3px -3px 5px yellow;
}

nav {
    background-color: #0000ff80;
    width: 100%;
    position: sticky;
    top: 0;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav > ul > li {
    font-family: 'Ubuntu Sans', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    line-height: 2.5rem;
    font-size: 1.5rem;
    transition: all 300ms;
    display: block;
}

nav > ul > li > a:hover {
    font-size: 1.8rem;
    color: cadetblue;
    transition: all 500ms;
}

section {
    width: 98%;
    margin: 1% auto;
    
    background-image: linear-gradient(to bottom left, red, orange, yellow, green, blue, violet, indigo, whitesmoke 15%);
    
    border: 3px solid #666666;
    border-radius: 5px;
    padding: 1% 3% 2%;
}

section > h2 {
    font-size: 1.6rem;
    font-weight: bold;
    font-variant: small-caps;
    text-indent: 5%;
    border-bottom: 1px solid black;
    line-height: 2.1rem;
    margin-bottom: 1%;
}

section > p {
    font-size: 1rem;
    line-height: 1.3rem;
    text-indent: 2%;
    text-align: justify;
}

.lista_cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lista_cursos__item{
    width: 20%;
    margin: 1% 5% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 3px 2px 2px black, 6px 5px 6px #600000;
}

.lista_cursos__item:hover{
    box-shadow: 3px 4px 2px #666666, 8px 7px 6px #BB0000;
}

.curso_imagem {
    width: 90%;
}

.lista_cursos__item > h3 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: bold;
}

.lista_cursos__item > p {
    font-size: 1.2rem;
    line-height: 2rem;
}

footer {
    background-image: linear-gradient(#00000011, #000000FF);
    color: white;
    border-top: 2px solid black;
    text-align: center;
    width: 100%;
}

footer > p {
    line-height: 4rem;
    font-size: 1.3rem;
    margin-top: 2%;
}

table {
    font-size: 1.2rem;
    text-align: center;
}

th {
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #666666;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
    color: black;
}

td {
    padding: 10px;
}

form{
    width: 80%;
}

.formulario_campos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario_campos > label {
    font-size: 1.1rem;
    margin: 7px 10px 7px 0;
}

.formulario_campos > input{
    font-size: 1rem;
    padding: 3px 0 3px 3px;
    margin: 5px 0px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 50%;
}

.formulario_mensagem{
    display: block;
    margin: 2% 0 1%;
}

textarea#formulario_mensagem{
    display: block;
    margin-bottom: 3%;
    font-size: 1rem;
    padding: 1% 2%;
}

.formulario_grupos {
    border: 1px solid black;
    padding: 2%;
    margin: 1% 0 3%;
    border-radius: 7px;
}

.formulario_grupos > label {
    margin-right: 2%;
}

.formulario_grupos > select {
    font-size: 0.9rem;
    padding: 1%;
    width: 25%;
}

.formulario_contrato {
    font-size: 0.7rem;
}

.formulario_enviar{
    padding: 2% 4%;
    margin: 2% 3%;
    font-size: 1.1rem;
    background-color: #600000BB;
    color: #FFFFFF;
    transition: all 200ms;
    border-radius: 5px;
    display: block;
}

.formulario_enviar:hover{
    background-color: #600000;
    font-weight: bold;
    transform: scale(1.1, 1);
    transition: all 500ms;
}